name: qr_app
description: URL QR Code Generator App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  http: ^1.1.0
  qr_flutter: ^4.1.0
  share_plus: ^7.2.1
  path_provider: ^2.1.1
  sqflite: ^2.3.0
  path: ^1.8.3
  gal: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
